<!DOCTYPE html>
<html>

<head>
	<!-- leaflet map stuff -->
	<link rel="stylesheet" href="{{ url_for('static', filename='./leaflet/leaflet.css') }}" />
	<script src="{{ url_for('static', filename='./leaflet/leaflet.js') }}"></script>
	<script src="{{ url_for('static', filename='./jquery-3.6.0.min.js') }}"></script>

	<!-- geojson file for counties -->
	<script src="{{ url_for('static', filename='./geojsonfiles/CaliforniaCounties.js') }}"></script>

	<!-- leaflet cluster for markers -->
	<link rel="stylesheet"
		href="{{ url_for('static', filename='./Leaflet.markercluster/dist/MarkerCluster.Default.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='./Leaflet.markercluster/dist/MarkerCluster.css') }}" />
	<script
		src="{{ url_for('static', filename='./Leaflet.markercluster/dist/leaflet.markercluster-src.js') }}"></script>
		<script
		src="{{ url_for('static', filename='./Leaflet.MarkerCluster.Freezable/src/freezable.js') }}"></script>
	
	<!-- Javascript file for relevant functions -->
	<script src="{{ url_for('static', filename='./Functions.js') }}"></script>


	<!-- slider style sheet -->
	<link rel="stylesheet"
		href="{{ url_for('static', filename='./sliderStyle.css') }}" />

	<style>
		#map {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: lightblue;
			margin-right: 300px;
		}

		#datePicker {
			height: 15px;
			padding: 5px;
			width: 140px;

		}
		#colorSelector{
			height: 20px;
			padding: 10px;
		}
		.info {
			padding: 6px 8px;
			font: 14px/16px Arial, Helvetica, sans-serif;
			background: white;
			background: rgba(255, 255, 255, 0.8);
			box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
			border-radius: 5px;
		}

		.info h4 {
			margin: 0 0 5px;
			color: #777;
		}

		.legend {
			text-align: left;
			line-height: 18px;
			color: #555;
		}

		.legend i {
			width: 18px;
			height: 18px;
			float: left;
			margin-right: 8px;
			opacity: 0.7;
		}
		.legend div {
			width: 100px;
			height: 27px
		}
		#sidebar{
			padding-top: 20px;
			padding-right: 30px;
			padding-left: 30px;
			padding-bottom: 50px;
			width:250px;
			float: right;
			justify-content: space-between;
			
		}
		#text {
			padding: 10px;
		}
		.markerKey {
			height: 13px;
			width: 13px;
			border-radius: 50%;
			display: inline-block;
			border: 3px solid black;

		}


	</style>
</head>

<body>

	<div id='sidebar'>

		<h2 class="text" style="text-align:center; font-weight:bold;">Map Settings</h2>
		<br>
		
		<!-- First row -->
		<div style='padding:7px'>
		<label class="text"> Select Date </label>
		<input type="date" id="datePicker" onchange='county_handler(event);' min="{{ min_county_date }}"
			max="{{ max_county_date }}">
		</div>
		
		<!-- Second row -->
		<div style='padding:7px'>
		<label>Mono Color Theme </label>
		
		<label class="switch">
			<input id="monocolor" type="checkbox" onchange="switchColor(this)">
			<span class="slider"></span>
		</label>
		</div>

		<!-- Third row -->
		<div style='padding:7px'>
			<label>Cluster toggle </label>
			
			<label class="switch">
				<input id="clusterToggle" type="checkbox" onchange="clusterToggle()">
				<span class="slider"></span>
			</label>
		</div>
		
	</div>

	<div id="map"></div>

	<script>
		var map = L.map('map', { maxZoom: 18, maxWidth: 100}).setView([0, 0], 1);
		var countiesData; // Contain most recent county data
		var facilitiesData; // Contain most recent facility data
		var clustered = true;

		function clusterToggle() {

			if (clustered) {
				markerCluster.disableClustering();
			} else {
				markerCluster.enableClustering();
			}

			clustered = ! clustered

		}

		// Highlight feature when mouse pointer is over 
		// a county
		function highlightFeature(e) {
			var layer = e.target;

			layer.setStyle({
				weight: 2,
				color: "white",
				dashArray: '',
				fillOpacity: 1
			});

			if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
				layer.bringToFront();
			}
		}

		// reset highlight when mouse pointer not on a county anymore
		function resetHighlight(e) {
    		countiesLayer.resetStyle(e.target);

			var layer = e.target;
			var countyName = layer.feature.properties.name;
			if (countiesData && countiesData[countyName]) {
				
				var countyData = countiesData[countyName];

				layer.setStyle({
					fillColor:  getColor(countyData["Cases"])
				});
			}

		}

		// Zoom feature when you click on county
		function zoomToFeature(e) {
    		map.fitBounds(e.target.getBounds());
			
		}

		// Function that will include the counts of cases and deaths in 
		function county_handler(e) {
			
			var date = e.target.value;
			//ajax calls to another webpage route to get counties data for date selected
			$.ajax({
				type: "GET",
				url: "/data/" + date,
				cache: false,
				// Function that runs when the webpage route is accessed successfully.
				// The data from the webpage route is passed to the function.
				success: function (data) {

					// Parse the data as a JSON object
					data = JSON.parse(data)
					// make parsed data available throughout code 
					countiesData = data['counties']
					facilitiesData = data['facilities']
					
					// change data for each county layer
					countiesLayer.eachLayer(function (layer) {
						
						// get county and state name of layer
						var countyName = layer.feature.properties.name
						var stateName = layer.feature.properties.state

						// get county data for specified county from layer and date 
						// from ajax webpage route
						var countyData = countiesData[countyName]

						// Display the county data if it exists
						if (countyData) {
							
							// create string to output to county popup
							var popupContent =
								"<p>State: " + stateName +
								"<br>County: " + countyName +
								"<br>Cases: " + countyData["Cases"] +
								"<br>Deaths: " + countyData["Deaths"] +
								"<br>Date: " + countyData["Closest_Date"] + "</p>";
							
							// add popup
							layer.bindPopup(popupContent);

							// color the layer based on cases
							layer.setStyle({
								fillColor:  getColor(countyData["Cases"])
							});
						}
					})

					markerCluster.eachLayer(function (marker) {
						
						facilityID = marker.facilityID
						facilityData = facilitiesData[facilityID]
					

						if (facilityData) {

							staffCases = facilityData['staff_cases'] ? facilityData['staff_cases'] : 0
							residentCases =  facilityData['resident_cases'] ? facilityData['resident_cases'] : 0
							totalCases = staffCases + residentCases

							staffDeaths = facilityData['staff_deaths'] ? facilityData['staff_deaths'] : 0
							residentDeaths =  facilityData['resident_deaths'] ? facilityData['resident_deaths'] : 0
							totalDeaths = staffDeaths + residentDeaths

							var popupdata = "Prison: " + facilityData['facility_name'] +
											"<br>County: " + facilityData['county_name'] +
											"<br>Facility Type: " + facilityData['webgroup'] +
											"<br>Staff Cases: " + staffCases +
											"<br>Resident Cases: " + residentCases +
											"<br>Staff Deaths: " + staffDeaths +
											"<br>Resident Deaths: " + residentDeaths +
											"<br>Total Cases: " + totalCases +
											"<br>Total Deaths: " + totalDeaths +
											"<br>Date: " + facilityData['date'];


							marker.bindPopup(popupdata)
						}

					})
					



				}
					
			})
		}

		//code for pop up before date selection
		function onEachFeature(feature, layer) {
			var popupContent = 
				"<p>State: " + feature.properties.state +
				"<br>County: " + feature.properties.name + "</p>";

			layer.bindPopup(popupContent);
			
			layer.on({
				mouseover: highlightFeature,
				mouseout: resetHighlight,
				click: zoomToFeature
			});
		}
		
		// Display county boundries
		var countiesLayer = L.geoJson(CaliforniaCounties, {
			onEachFeature: onEachFeature,
			style:{
				fillColor: "Coral",
				color: "black",
				fillOpacity: 1,
				weight: 0.8
			}
		}).addTo(map);

		//Single color switch function
		function switchColor(cb) {
			
			legend.update();
			if (!countiesData) {
				return;
			}
			
			countiesLayer.eachLayer(function (layer) {
					
				// get county and state name of layer
				var countyName = layer.feature.properties.name
				// get county data for specified county from layer and date 
				// from ajax webpage route
				var countyData = countiesData[countyName]

				// Display the county data if it exists
				if (countyData && countyData["Cases"]) {

					layer.setStyle({
						fillColor:  getColor(countyData["Cases"])
					});

				}
			});

			
		}

		// Fit bounderies to map and min zoomming out limit
		map.fitBounds(countiesLayer.getBounds())
		map.options.minZoom = map._zoom
		map.setMaxBounds(map.getBounds())
		
		// Add a pane to bring markers infront of map
		map.createPane('prisonMarkers');
		map.getPane('prisonMarkers').style.zIndex = 401;
		map.getPane('prisonMarkers').style.pointerEvents = 'none';

		//create marker cluster
		var markerCluster = L.markerClusterGroup({ chunkedLoading: true });

		// Make a marker for each facility in california
		{% for facilityID, facilityData in facilities.items() %}

		marker = L.circleMarker([{{ facilityData['latitude'] }}, {{ facilityData['longitude'] }}], {
			color: "black",
			fillColor: "Red",
			pane: "prisonMarkers",
			fillOpacity: 1
		})
		popupdata = "Prison: {{facilityData['facility_name']}}" +
					"<br>County: {{facilityData['county_name']}}" +
					"<br>Facility Type: {{facilityData['webgroup']}}"

		marker.bindPopup(popupdata)
		marker.facilityID = {{ facilityID }}

		markerCluster.addLayer(marker);

		{% endfor %}

		// add the markercluster to the map
		map.addLayer(markerCluster);

		// Mske county legend 
		var legend = L.control({position: 'bottomright'});
		legend.onAdd = function (map) {
			this._div = L.DomUtil.create('div', 'info legend');
			this.update();
			return this._div;
		};

		legend.update = function () {

			
			var grades = [0, 1000, 10000, 100000, 1000000]
			this._div.innerHTML = '<p style="text-align:center; font-weight:bold;"> County Cases </p>'

			// loop through our intervals and generate a label with a colored square for each interval
			for (var i = 0; i < grades.length; i++) {
				this._div.innerHTML += '<i style="background:' + getColor(grades[i] + 1) + '"></i> ' +
					grades[i] + (grades[i + 1] ? '&ndash;' + grades[i + 1] + '<br>' : '+');
			}

		};

		legend.addTo(map);


		// make prison legend
		var facilityLegend = L.control();
		facilityLegend.onAdd = function (map) {

			var div = L.DomUtil.create('div', 'info legend'),
				grades = [0, 25, 50, 75]
	

			div.innerHTML += '<p style="text-align:center; font-weight:bold;"> Facility Cases </p>'

			// loop through our density intervals and generate a label with a colored square for each interval
			for (var i = 0; i < grades.length; i++) {
				div.innerHTML +=
					'<div>' +
					'<i class="markerKey" style="background:' + getFacilityColorMono((grades[i] + 1) / 100 ) + '"></i> ' +
					'<label>' +
					grades[i] + "%" + (grades[i + 1] ? '&ndash;' + grades[i + 1] + '%' + '<br>' : '+') +
					'</label>' + '</div>';
					
			}

			return div;
		};

		facilityLegend.addTo(map);


	</script>
</body>

</html>