<!DOCTYPE html>
<html>

<head>
	<!-- leaflet map stuff -->
	<link rel="stylesheet" href="{{ url_for('static', filename='./leaflet/leaflet.css') }}" />
	<script src="{{ url_for('static', filename='./leaflet/leaflet.js') }}"></script>
	<script src="{{ url_for('static', filename='./jquery-3.6.0.min.js') }}"></script>

	<!-- geojson file for counties -->
	<script src="{{ url_for('static', filename='./geojsonfiles/CaliforniaCounties.js') }}"></script>

	<!-- leaflet cluster for markers -->
	<link rel="stylesheet"
		href="{{ url_for('static', filename='./Leaflet.markercluster/dist/MarkerCluster.Default.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='./Leaflet.markercluster/dist/MarkerCluster.css') }}" />
	<script
		src="{{ url_for('static', filename='./Leaflet.markercluster/dist/leaflet.markercluster-src.js') }}"></script>
	
	<!-- Javascript file for relevant functions -->
	<script src="{{ url_for('static', filename='./Functions.js') }}"></script>


	<!-- slider style sheet -->
	<link rel="stylesheet"
		href="{{ url_for('static', filename='./sliderStyle.css') }}" />

	<style>
		#map {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: lightblue;
		}

		#datePicker {
			position: absolute;
			height: 40px;
			top: 100px;
			bottom: 20px;
			padding: 10px;
			z-index: 1000;
		}
		#colorSelector{
			position: absolute;
			height: 40px;
			top: 175px;
			bottom: 20px;
			padding: 10px;
			z-index: 1000;
			
		}
	</style>
</head>

<body>
	<input type="date" id="datePicker" onchange='county_handler(event);' min="{{ min_county_date }}"
		max="{{ max_county_date }}">

	
	<div id="colorSelector">
		<p>Single Color Theme</p>
	<label class="switch">
		<input type="checkbox">
		<span class="slider"></span>
	</label>
	</div>

	<div id="map"></div>

	<script>
		var map = L.map('map', { maxZoom: 18, maxWidth: 100}).setView([0, 0], 1);
		var countiesData; // Contain most recent county data

		// Highlight feature when mouse pointer is over 
		// a county
		function highlightFeature(e) {
			var layer = e.target;

			layer.setStyle({
				weight: 2,
				color: "white",
				dashArray: '',
				fillOpacity: 1
			});

			if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
				layer.bringToFront();
			}
		}

		// reset highlight when mouse pointer not on a county anymore
		function resetHighlight(e) {
    		countiesLayer.resetStyle(e.target);

			var layer = e.target;
			var countyName = layer.feature.properties.name;
			if (countiesData && countiesData[countyName]) {
				
				var countyData = countiesData[countyName];

				layer.setStyle({
					fillColor: getColor(countyData["Cases"])
				});
			}

		}

		// Zoom feature when you click on county
		function zoomToFeature(e) {
    		map.fitBounds(e.target.getBounds());
			
		}

		// Function that will include the counts of cases and deaths in 
		function county_handler(e) {
			
			var date = e.target.value;
			//ajax calls to another webpage route to get counties data for date selected
			$.ajax({
				type: "GET",
				url: "/county_data/" + date,
				cache: false,
				// Function that runs when the webpage route is accessed successfully.
				// The data from the webpage route is passed to the function.
				success: function (data) {

					// Parse the data as a JSON object
					data = JSON.parse(data)
					// make parsed data available throughout code 
					countiesData = data
					
					// change data for each county layer
					countiesLayer.eachLayer(function (layer) {
						
						// get county and state name of layer
						var countyName = layer.feature.properties.name
						var stateName = layer.feature.properties.state

						// get county data for specified county from layer and date 
						// from ajax webpage route
						var countyData = data[countyName]

						// Display the county data if it exists
						if (countyData) {
							
							// create string to output to county popup
							var popupContent =
								"<p>State: " + stateName +
								"<br>County: " + countyName +
								"<br>Cases: " + countyData["Cases"] +
								"<br>Deaths: " + countyData["Deaths"] +
								"<br>Date: " + countyData["Closest_Date"] + "</p>";
							
							// add popup
							layer.bindPopup(popupContent);

							// color the layer based on cases
							layer.setStyle({
								fillColor: getColor(countyData["Cases"])
							});
						}

						
					})
				}
					
			})
		}

		//code for pop up before date selection
		function onEachFeature(feature, layer) {
			var popupContent = 
				"<p>State: " + feature.properties.state +
				"<br>County: " + feature.properties.name + "</p>";

			layer.bindPopup(popupContent);
			
			layer.on({
				mouseover: highlightFeature,
				mouseout: resetHighlight,
				click: zoomToFeature
			});
		}
		
		// Display county boundries
		var countiesLayer = L.geoJson(CaliforniaCounties, {
			onEachFeature: onEachFeature,
			style:{
				fillColor: "Coral",
				color: "white",
				fillOpacity: 1
			}
		}).addTo(map);

		// Fit bounderies to map and min zoomming out limit
		map.fitBounds(countiesLayer.getBounds())
		map.options.minZoom = map._zoom
		map.setMaxBounds(countiesLayer.getBounds())
		
		// Add a pane to bring markers infront of map
		map.createPane('prisonMarkers');
		map.getPane('prisonMarkers').style.zIndex = 401;
		map.getPane('prisonMarkers').style.pointerEvents = 'none';

		//create marker cluster
		var markerCluster = L.markerClusterGroup({ chunkedLoading: true });

		// Make a marker for each facility in california
		{% for facility in facilities %}

		marker = L.circleMarker([{{ facility[5] }}, {{ facility[4] }}], {
			color: "White",
			fillColor: "Red",
			pane: "prisonMarkers",
			fillOpacity: 1
		})
		marker.bindPopup("Prison: {{facility[1]}} <br>Covid Cases: ")
		markerCluster.addLayer(marker);

		{% endfor %}

		// add the markercluster to the map
		map.addLayer(markerCluster);

	</script>
</body>

</html>